@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, #1f2024, #212124, #26272A, #1c1d21);
	background-size: 300% 300%;
	animation: color 12s ease-in-out infinite;
}
@keyframes color {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.main-header {
	height: 200px;
	padding-top: 100px;
	text-align: -webkit-center;
}


.main-header img{
	height: 90px;
    display: inline-flex;
    padding: 0px 20px 20px 20px;

}

.main-header h2, span{
	color: #fff;
	font-family: 'Major Mono Display', monospace;
}


.signupUploadImg {
	display: grid;
    justify-content: center;
    justify-items: center;
}

.css-1f00tan-MuiButtonBase-root-MuiButton-root:hover {
	background-color: rgb(93, 56, 177, 0.07) !important;
 }


.signupUploadImg-logo {
	display: inline-table;
    text-align: -webkit-center;
	height: 100%;
    margin-top: 80px;
}

.signupUploadImg-logo h2 {

	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	font-weight: 400;
	margin: 0;

}


.logo-container {
	position: relative;
	display: inline-block;
	margin-top: 25px;
}
  
.remove-avatar-icon {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #d32f2e;
	border-radius: 50%;
	padding: 4px;
	cursor: pointer;
	height: 23px;
    width: 25px;
}
  
.remove-avatar-icon svg {
	color: white;
}

.signupAvatarUpload {
	font-family: 'Montserrat', sans-serif !important;
	font-size: 30px !important;
	height: 125px !important;
	width: 125px !important;
}


.signupUploadImg-upload-area {
    width: 70vw;
    height: 45vh;
    display: flex;
    border: 3px dashed #5d38b1bd;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: border-color 0.3s ease-in-out;
	background-color: rgb(148 108 220 / 2%);
}

@media (max-height: 900px) {
    .signupUploadImg-upload-area {
        height: 35vh;
    }
}

.signupUploadImg-upload-area.active {
    border-color: #7746eb;
	background-color: #5c38b109;
}

.signupUploadImg-upload-area h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 100;
	color: #c7c7c7;
	margin-top: 20px;
}

.or-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}
  
.line {
	flex: 1;
	height: 1px;
	background-color: #666;
}
  
.or-text {
	margin: 0 10px;
	color: #666;
	font-size: 14px;
	font-family: 'Titillium', sans-serif;
	font-size: 18px;
	font-weight: 100;
}

.loader2 {
    position: relative;
    width:  100px;
    height: 100px;
    background: #5d38b1;
    transform: rotateX(65deg) rotate(45deg);
    color: #c7c7c7;
    animation: layers3 0.65s linear infinite alternate;
}
.loader2:after {
    content: '';
    position: absolute;
    inset: 0;
    background: #292a2ea2;
    animation: layerTr3 0.65s linear infinite alternate;
}

@keyframes layers3 {
    0% { box-shadow: 0px 0px 0 0px  }
   90% , 100% { box-shadow: 35px 35px 0 -4px  }
}
@keyframes layerTr3 {
    0% { transform:  translate(0, 0) scale(1) }
    100% {  transform: translate(-35px, -35px) scale(1) }
}

.css-1le6n9v-MuiButtonBase-root-MuiButton-root:hover {
	background-color: rgb(93, 56, 177, 0.07) !important;
}

.loader {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	display: inline-block;
	border-top: 4px solid #FFF;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
	position: initial;
	margin: 0 auto;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
  }
  .loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	border-left: 4px solid rgb(93, 56, 177);
	border-bottom: 4px solid transparent;
	animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }

.loader-container {
    height: 50px;
    width: 50px;
    padding: 30px;
    position: absolute;
    border-radius: 10px;
    background-color: #1c1d21eb;
	z-index: 1000;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 101;
	transition: opacity 0.3s ease-out;
}
